doctype 
html
	head
		title="this is a redux app"
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	body
		div(id='app')
		script(src='js/bundle.js')